@using System.Collections;
@model IEnumerable<EMS.Models.ManageTicket>

@foreach (var p in Model)
{
    <div class="alert alert-info">
        <div class="row">
            <div class="col-md-4">
                <div><b>Ticket Discription :- </b>@p.Description</div>
               
            </div>
            <div class="col-md-5">
                <div><b>Ticket Price:- </b>@p.Price</div>
            </div>

            <div class="col-md-2">
                @using (Ajax.BeginForm("DeleteManageTicket", "Event", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onsuccessManageTicket" }))
                {
                    <input type="hidden" name="ManageTicketId" value="@p.ManageTicketId">
                    <span><input class="btn fullwidthbutton" type="submit" value="Delete" /></span>
                }
            </div>

        </div>

    </div>
}

<div class="modal fade" id="added" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="display-4" style="text-align:center">DONE</div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="display-4" style="text-align:center">ERROR</div>
            </div>

        </div>
    </div>
</div>









