
@{
    ViewBag.Title = "Guide";
}




<div class="container-flued container-flued-padding py-3">
    <h2>@ViewBag.Title</h2>
    <hr/>
    <div id="containera">@Html.Action("GetAllEvents", "Event") </div>

    

</div>


@section scripts {

    
 
   
}