@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-flued container-flued-padding py-3">

    <h2>@ViewBag.Title</h2>
    <hr />

    <div id="indexdiv">@Html.Action("ServicesByCompanyProfile", "Service", new { CompanyProfileId = ViewBag.CompanyProfileId })</div>

</div>
